
.cards{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.card:hover {
    transform: translateY(-15px);
}

.card{
    border: 1px solid none;
    border-radius: 5px;
    padding: 10px; 
    margin-bottom: 10px;
    width: 200px;
    height: 200px;  
    transition: 0.5s;
}

.card.blue {
    background-color: #83b4f3;
}

.card.red{
    background-color: #f38383;
}

.card.green{
    background-color: #0db871;
}

li{
    list-style: none;
    color:white;
}

h2{
    font-size: 20px;
    color: white;

}