

.card{
    border: 1px solid none;
    border-radius: 5px;
    background-color: #83b4f3;
    padding: 10px; 
    margin-bottom: 10px;
    width: 200px;
    height: 200px;

}

.card1{
    border: 1px solid none;
    border-radius: 5px;
    background-color: #f38383;
    padding: 10px; 
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
}

.card2{
    border: 1px solid none;
    border-radius: 5px;
    background-color: #0db871;
    padding: 10px; 
    margin-bottom: 10px;
    width: 200px;
    height: 200px;

}

li{
    list-style: none;
    color:white;
}

h2{
    font-size: 20px;
    color: white;

}